<clr-main-container>
  <clr-header class="header-4">
    <div class="branding">
      <img class="nav-link logo" src="assets/images/icons/icon-72x72.png" alt="logo" />
      <span class="title">Kalimotxo</span>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="user"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="..." clrDropdownItem>About</a>
          <a href="..." clrDropdownItem>Preferences</a>
          <a clrDropdownItem (click)= "logout()">Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" class="nav-trigger--bottom" [clr-nav-level]="1">
      <a clrVerticalNavLink routerLink="/kalimotxo/customer/qr-scanner">
        <clr-icon clrVerticalNavIcon shape="qr-code"></clr-icon>
        Scan QrCode
      </a>

    </clr-vertical-nav>
  </div>
</clr-main-container>
