<div class="row">
  <div class="col-md-4" *ngFor="let bartender of bartenders |async ">
    <div class="card">
      <div class="card-img">
        <img alt="avatarUrl" src="{{bartender?.avatarUrl}}">
      </div>
      <div class="card-block">
        <h3 class="card-title">{{bartender?.firstName}} {{bartender?.lastName}}</h3>
        <clr-icon *ngFor="let item of createRange(bartender?.overallRating)" size="16" class="is-warning" [ngClass]="{'is-solid': item}"
          shape="star"></clr-icon>
      </div>
    </div>
  </div>
</div>
