<div class="login-wrapper">
  <form class="login">
      <label class="title">
          <h3 class="welcome">Register</h3>
          Kalimotxo
          <h5 class="hint">Insert your data to Register</h5>
      </label>
      <div class="login-group">
          <input class="username" type="text"  placeholder="firstName">
          <input class="username" type="text"  placeholder="lastName">
          <input class="username" type="email" placeholder="email">

          <input class="password" type="password" id="login_password" placeholder="Password">
          <!-- <div class="checkbox">
              <input type="checkbox" id="rememberme">
              <label for="rememberme">
                  Remember me
              </label>
          </div> -->
          <!-- <div class="error active">
              Invalid user name or password
          </div> -->
          <button type="submit" class="btn btn-primary">Register</button>
          <a href="javascript://" class="signup">Sign up for a Company ID</a>
      </div>
  </form>
</div>

<form clrForm>

  <input clrInput placeholder="first name" name="input" [(ngModel)]="user.firstName" />
  <input clrInput placeholder="last name" name="input" [(ngModel)]="user.lastName" />
  <input clrInput placeholder="last name" name="input" [(ngModel)]="user.email" />
  <input clrInput placeholder="last name" name="input" [(ngModel)]="user.password" />

</form>
