<div class="row">
  <div class="col-12">
    <div class="input-group d-flex justify-content-between flex-wrap flex-md-nowrap  border-bottom">
      <input type="text" class="form-control" [(ngModel)]="searchedAddress" placeholder="#searchedAddress">
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="search()">Search</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <app-ratings-list [bartender_ratings_list]=ratingsFiltered></app-ratings-list>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Ratings Chart
      </div>
      <div class="card-block">
        <p-chart type="doughnut" [data]="ratingChart"></p-chart>
      </div>
    </div>
  </div>
</div>
