<div class="login-wrapper">
  <form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label class="title">
      <img class="logo" src="../../../assets/images/icons/icon-512x512.png" alt="">
      <h3 class="welcome">Welcome to</h3>
      Kalimotxo
      <h5 class="hint">Login with your credentials</h5>
    </label>
    <div class="login-group">
      <input class="username" formControlName="email" clrInput type="email" id="login_username" placeholder="Email">
      <input class="password" formControlName="password" clrInput type="password" id="login_password" placeholder="Password">
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
      <a routerLink="/auth/register" class="signup">Regiser</a>
    </div>
  </form>
</div>
